body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #400040;
  }

  .card-container {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .card {
    border: 2px solid #400040;
    border-radius: 1rem;
    width: 400px;
    background-color: white;
    margin-top: 50px;
  }

  .card-body {
    text-align: center;
  }

  .card-title {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
  }

  .card-description {
    text-align: center;
  }

  .card-image {
    width: 200px;
  }

  .form-input {
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: none;
    font-weight: bolder;
    width: 300px;
    margin: 10 auto;
    outline: none;
  }

  .sub-input-field {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 300px;
  }

  .form-input.child {
    width: 130px;
    margin: 3px;
  }

  .error {
    margin: 3px;
    color: red;
    font-size: 14px;
  }

  .proceed-button {
    width: 300px;
    padding: 16px 48px;
    background: #400040;
    border: 10px;
    box-shadow: none;
    transition: background 0.3s;
    text-transform: none;
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    cursor: pointer;
    align-items: center;
  }

  .proceed-button:hover {
    background: #000000;
  }

  .message {
    margin-bottom: 15px;
    font-size: 14px;
    align-content: center;
  }

  .slide-in {
    animation: slide-in 0.5s ease forwards;
    opacity: 0;
    transform: translateY(50%);
  }

  @keyframes slide-in {
    to {
      opacity: 1;
      transform: translateY(0);
    }
 }